<!-- {{ content.roleSpecificData.currentMaintenanceSchedules }} -->
<section class="specific-data-col-1"> 

<h2>Current maintenance schedule</h2>

    <article class="specific-data-col-1-inline-col-1">

        <h3>{{ content.roleSpecificData.currentMaintenanceSchedules[0].jobId }}</h3>
        <p>{{ content.roleSpecificData.currentMaintenanceSchedules[0].systemId }}</p>
        <h4>{{ content.roleSpecificData.currentMaintenanceSchedules[0].task }}</h4>

        <aside class="status"> 
            <p>status: <strong>{{ content.roleSpecificData.currentMaintenanceSchedules[0].status }}</strong></p>
            <p>due on: <strong>{{ content.roleSpecificData.currentMaintenanceSchedules[0].dueDate }}</strong></p>
        </aside>

    </article>

    <article class="specific-data-col-1-inline-col-2">

        <h3>{{ content.roleSpecificData.currentMaintenanceSchedules[1].jobId }}</h3>
        <p>{{ content.roleSpecificData.currentMaintenanceSchedules[1].systemId }}</p>
        <h4>{{ content.roleSpecificData.currentMaintenanceSchedules[1].task }}</h4>

        <aside class="status"> 
            <p>status: <strong>{{ content.roleSpecificData.currentMaintenanceSchedules[1].status }}</strong></p>
            <p>due on: <strong>{{ content.roleSpecificData.currentMaintenanceSchedules[1].dueDate }}</strong></p>
        </aside>

    </article>

</section>

<section class="specific-data-col-2"> 

<h2>Assigned repair jobs</h2>

    <article class="specific-data-col-2-inline-col-1">

        <h3>{{ content.roleSpecificData.assignedRepairJobs[0].jobId }}</h3>
        <p>{{ content.roleSpecificData.assignedRepairJobs[0].systemId }}</p>
        <h4>{{ content.roleSpecificData.assignedRepairJobs[0].issueReported }}</h4>

        
        <aside> 
            <p>Assigned Technician(s): {{ content.roleSpecificData.assignedRepairJobs[0].assignedTechnician }}</p>
            <p>Needed Parts: <em>{{ content.roleSpecificData.assignedRepairJobs[0].partsNeeded }}</em></p>
        </aside>

        <footer> 
            <p>status: <strong class="less-strong">{{ content.roleSpecificData.assignedRepairJobs[0].status }}</strong></p>
            <p>priority: <strong>{{ content.roleSpecificData.assignedRepairJobs[0].priority }}</strong></p>
        </footer>

    </article>

    <article class="specific-data-col-2-inline-col-2">

        <h3>{{ content.roleSpecificData.assignedRepairJobs[1].jobId }}</h3>
        <p>{{ content.roleSpecificData.assignedRepairJobs[1].systemId }}</p>
        <h4>{{ content.roleSpecificData.assignedRepairJobs[1].issueReported }}</h4>

        <aside> 
            <p>Assigned Technician(s): {{ content.roleSpecificData.assignedRepairJobs[0].assignedTechnician }}</p>
            <p>Needed Parts: <em>{{ content.roleSpecificData.assignedRepairJobs[0].partsNeeded }}</em></p>
        </aside>

        <footer> 
            <p>status: <strong class="less-strong">{{ content.roleSpecificData.assignedRepairJobs[1].status }}</strong></p>
            <p>priority: <strong>{{ content.roleSpecificData.assignedRepairJobs[1].priority }}</strong></p>
        </footer>

    </article>

</section>

<section class="specific-data-col-3"> {{ content.roleSpecificData.systemDiagnosticData }}</section>
<section class="specific-data-col-4"> {{ content.roleSpecificData.technicalManualsLinks }}</section>